{{inject 'noCompareMessage' (lang 'compare.no_compare')}}
{{inject 'products' category.products}}

{{#if customer}}
  <div style="text-align: center;">
    <div>Customer details</div>
    <div>
      Nice to see you again, {{ customer.name }}<br>
      Your email is {{ customer.email }}<br>
      {{#if customer.phone}}
        Your phone is {{ customer.phone }}.<br>
      {{else}}
        Kindly reminding you did not enter your phone number
      {{/if}}
      <br>
    </div>
  </div>
{{/if}}

{{#if category.products}}
    <div>
        <button class="button" id="add_all_to_cart" {{#if cart_id}}disabled="disabled"{{/if}}>Add All to Cart</button>
        {{#if cart_id}}
            <button class="button" id="remove_all_from_cart" data-cart-id="{{cart_id}}">Remove All Items</button>
        {{/if}}
    </div>

    {{> components/products/filter sort=pagination.category.sort}}

    <div data-list-name="Category: {{category.name}}">
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
        {{else}}
            {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
        {{/if}}
    </div>

    {{> components/common/paginator pagination.category}}
{{else}}
    {{#if category.search_error}}
        <p>{{lang 'search.errorMessage'}}</p>
    {{else}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
    {{/if}}
{{/if}}
